<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>

    {% block headStyles %}
        <style type="text/css">
            table {
                border-collapse: collapse;
            }

            table, th, td {
                font-size: 12px;
                border: 1px solid black;
            }

            table, tr, td, th, tbody, thead, tfoot {
                page-break-inside: avoid !important;
            }

        </style>
    {% endblock %}

</head>

<body>
{% block body %}{% endblock %}
</body>

</html>
